body {
  margin: 5px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5px;
  padding: 5px;
  background-color: Gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listCheckbox{
  padding: 5px;
}

.newFont{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.serif{
  font-family: serif;
}

.sansSerif{
  font-family: sans-serif;
}

.finishedStyle {
	text-decoration: line-through;
	color: red;
  align-items: center;
	text-align: center;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
}

.notFinishedStyle {
  color: black;
  text-align: center;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
}


